<!doctype html>
<html>
  <head>
    <title>Chat</title>
    <link href="/css/chat.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!-- <a href="http://localhost:3000/home">Home</a></br> -->
    <h1 style="color: #512888";>Welcome to Chat room!</h1></br>
    <ul id="chat-messages"></ul>
    <form id="chat-form" action="">

      <input id="chat-message" autocomplete="off" />
      <button style="height:32px;">Send</button>

    </form>
    <!-- <script src="/chat.js"></script> -->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  </body>
</html>
