<head>
    <title>Chat</title>
    <style>
      button{height:30px; width: 72px;}
    </style>
    <link href="/css/chat.css" rel="stylesheet" type="text/css">
</head>
  <body>
    <h1 style="color: #512888";>Welcome to Chat room!</h1></br>
    <div id="chat"></div>
  	<form id="send-message">
    	<input id="message"></input>
  		<button> Send </button>
  	</form>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <!-- TUE: 9:40-11:30 -->
    <script>
      jQuery(function($){
        // alert("xx");
        var socket = io.connect();
        var $form = $('#send-message');
        var $msgBox = $('#message').css({ 'height': "30px", 'width': "65%" });
        $('msgBox').attr( 'autocomplete', 'off' );
        var $chat = $('#chat').css({ 'height': "450px", 'width':"71%", 'overflow': "scroll", 'border-style': "solid"});

      $form.submit(function(e){
        e.preventDefault();
        socket.emit('send message', $msgBox.val());
        $msgBox.val('');
      });

      socket.on('new message', function(data){
        $chat.append(data, "<br/>");
      });
    });
 </script>
</body>
