<div class="container">
  <div class="page-header">
    <h3>About wiki</h3>
  </div>
  <div class="jumbotron">
    <div class="container">
      <p>Hello! This is a simple wiki application. Authorized users may create and edit wiki pages. Admins may ban users; a complete list of users can be found at "/users".</p>
    </div>
    <div class="container" style="text-align:center;">
      <a href="/contact" class="btn btn-default btn-lg" role="button"> Questions?</a>
    </div>
  </div>
</div>
