<p>TEST TEST TEST</p>
<div class ="container">
    <ul>
        <li>{{user.id}}</li>
        <li>{{user.username}}</li>
        <li>{{user.fname}}</li>
        <li>{{user.lname}}</li>
    </ul>
</div>
