<!-- <link rel="stylesheet" href="/css/signin.css"> -->
<div class="container" >
  <h1> Welcome to CIS{{courseID}} </h1>
  <p> {{#each questions}}
      {{desc}}
      {{/each}} </p>
  <form class="questions" action="/questions/{{courseID}}" method="post">
    <h2 class="form-signin-heading"></h2>
    <!-- temp = url. -->
    <!-- <input name="course" type="text" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
    <input name="short" type="text" id="short" class="form-control" placeholder="Write a Short description" required>
    <input name="question" type="text" id="question" class="form-control" placeholder="Write a question" required>
    <button class="btn btn-lg btn-success btn-block" type="submit">Post</button>
  </form>
</div>
